In [1]:
import pandas as pd

In [3]:
#Data Cleaning
df_historical_data = pd.read_csv('fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_missing_data = pd.read_csv('fifa_worldcup_missing_data.csv')

In [4]:
#Cleaning df_fixture
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [5]:
#Now we complete the data by cleaning df_missing_data and adding it to df_historical_data
# df_missing_data[df_missing_data['home'].isnull()]
df_missing_data.dropna(inplace=True)
df_historical_data = pd.concat([df_historical_data, df_missing_data], ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)
df_historical_data

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

In [6]:
# deleting match with walk over
delete_index = df_historical_data[df_historical_data['home'].str.contains('Sweden') &
                                  df_historical_data['away'].str.contains('Austria')].index

df_historical_data.drop(index=delete_index, inplace=True)

# cleanning score and home/away columns
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d–]', '', regex=True)
df_historical_data['home'] = df_historical_data['home'].str.strip() # clean blank spaces: Yugoslavia twice
df_historical_data['away'] = df_historical_data['away'].str.strip()

# splitting score columns into home and away goals and dropping score column
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)
df_historical_data.drop('score', axis=1, inplace=True)

# renaming columns and changing data types
df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 
                                   'year':'Year'}, inplace=True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals':int, 'Year': int})

# creating new column "totalgoals"
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']
df_historical_data

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0       France         Mexico  1930          4          1           5
17     Uruguay      Argentina  1930          4          2           6
16     Uruguay     Yugoslavia  1930          6          1           7
15   Argentina  United States  1930          6          1           7
14    Paraguay        Belgium  1930          1          0           1
..         ...            ...   ...        ...        ...         ...
419     Brazil     Costa Rica  2018          2          0           2
420     Serbia    Switzerland  2018          1          2           3
421     Serbia         Brazil  2018          0          2           2
408     France           Peru  2018          1          0           1
450     Brazil        Belgium  2018          1          2           3

[900 rows x 6 columns]

In [7]:
#Now export the data
df_historical_data.to_csv('clean_fifa_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)

In [8]:
# Now let verify number of matches per competition
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

In [9]:
# verify data collected for a Argentina
print(df_historical_data[df_historical_data['HomeTeam'].str.contains('Argentina')])
print(df_historical_data[df_historical_data['AwayTeam'].str.contains('rgentina')])

      HomeTeam                AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
15   Argentina           United States  1930          6          1           7
5    Argentina                   Chile  1930          3          1           4
4    Argentina                  Mexico  1930          6          3           9
1    Argentina                  France  1930          1          0           1
102  Argentina            West Germany  1958          1          3           4
105  Argentina        Northern Ireland  1958          3          1           4
155  Argentina                Bulgaria  1962          1          0           1
178  Argentina            West Germany  1966          0          0           0
179  Argentina             Switzerland  1966          2          0           2
176  Argentina                   Spain  1966          2          1           3
503  Argentina                   Haiti  1974          4          1           5
507  Argentina                  Brazil  1974          1          2           3
509  Argentina            East Germany  1974          1          1           2
501  Argentina                   Italy  1974          1          1           2
548  Argentina                  Poland  1978          2          0           2
550  Argentina                  Brazil  1978          0          0           0
552  Argentina                    Peru  1978          6          0           6
212  Argentina             Netherlands  1978          3          1           4
518  Argentina                 Hungary  1978          2          1           3
520  Argentina                  France  1978          2          1           3
522  Argentina                   Italy  1978          0          1           1
596  Argentina                  Brazil  1982          1          3           4
567  Argentina                 Hungary  1982          4          1           5
570  Argentina             El Salvador  1982          2          0           2
565  Argentina                 Belgium  1982          0          1           1
606  Argentina                Bulgaria  1986          2          0           2
602  Argentina             South Korea  1986          3          1           4
220  Argentina                 Uruguay  1986          1          0           1
230  Argentina                 Belgium  1986          2          0           2
232  Argentina            West Germany  1986          3          2           5
227  Argentina                 England  1986          2          1           3
241  Argentina              Yugoslavia  1990          0          0           0
245  Argentina                   Italy  1990          1          1           2
647  Argentina                 Romania  1990          1          1           2
645  Argentina            Soviet Union  1990          2          0           2
643  Argentina                Cameroon  1990          0          1           1
691  Argentina                  Greece  1994          4          0           4
693  Argentina                 Nigeria  1994          2          1           3
695  Argentina                Bulgaria  1994          0          2           2
751  Argentina                   Japan  1998          1          0           1
754  Argentina                 Jamaica  1998          5          0           5
272  Argentina                 England  1998          2          2           4
755  Argentina                 Croatia  1998          1          0           1
787  Argentina                 Nigeria  2002          1          0           1
790  Argentina                 England  2002          0          1           1
298  Argentina                  Mexico  2006          2          1           3
817  Argentina             Ivory Coast  2006          2          1           3
819  Argentina   Serbia and Montenegro  2006          6          0           6
861  Argentina             South Korea  2010          4          1           5
860  Argentina                 Nigeria  2010          1          0           1
323  Argentina                 Germany  2010          0          4           4
316  Argentina                  Mexico  2010          3          1           4
383  Argentina             Switzerland  2014          1          0           1
387  Argentina                 Belgium  2014          1          0           1
361  Argentina                    Iran  2014          1          0           1
359  Argentina  Bosnia and Herzegovina  2014          2          1           3
411  Argentina                 Iceland  2018          1          1           2
413  Argentina                 Croatia  2018          0          3           3
           HomeTeam   AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
17          Uruguay  Argentina  1930          4          2           6
23           Sweden  Argentina  1934          3          2           5
107  Czechoslovakia  Argentina  1958          6          1           7
157         England  Argentina  1962          3          1           4
159         Hungary  Argentina  1962          0          0           0
193         England  Argentina  1966          1          0           1
500          Poland  Argentina  1974          3          2           5
505     Netherlands  Argentina  1974          4          0           4
595           Italy  Argentina  1982          2          1           3
603           Italy  Argentina  1986          1          1           2
248    West Germany  Argentina  1990          1          0           1
235          Brazil  Argentina  1990          0          1           1
252         Romania  Argentina  1994          3          2           5
275     Netherlands  Argentina  1998          2          1           3
791          Sweden  Argentina  2002          1          1           2
305         Germany  Argentina  2006          1          1           2
821     Netherlands  Argentina  2006          0          0           0
864          Greece  Argentina  2010          0          2           2
363         Nigeria  Argentina  2014          2          3           5
392         Germany  Argentina  2014          1          0           1
390     Netherlands  Argentina  2014          0          0           0
441          France  Argentina  2018          4          3           7
415         Nigeria  Argentina  2018          1          2           3