In [1]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [2]:
# extracting all tables in website
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
# finding tables in group stage
all_tables[16]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,3,2,1,0,9,2,+7,7,Advanced to knockout stage
1,2,United States,3,1,2,0,2,1,+1,5,Advanced to knockout stage
2,3,Iran,3,1,0,2,4,7,−3,3,NaN
3,4,Wales,3,0,1,2,1,6,−5,1,NaN

As group stage matches are played results are shown. Group A is table 9, 9+7=16 is for group B....

In [4]:
# A -> H
# 9 -> 7*8 + 9 = 65
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
for i in range(9,65,7): 
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    print(df)

9
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0
16
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1
23
   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    3  2  0  1   5   2  +3    6
1    2        Poland    3  1  1  1   2   2   0    4
2    3        Mexico    3  1  1  1   2   3  −1    4
3    4  Saudi Arabia    3  1  0  2   3   5  −2    3
30
   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    3  2  0  1   6   3  +3    6
1    2  Australia    3  2  0  1   3   4  −1    6
2    3    Tunisia    3  1  1  1   1   1   0    4
3    4    Denmark    3  0  1  2   1   3  −2    1
37
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Japan    3  2  0  1   4   3  +1    6
1    2       Spain    3  1  1  1   9   3  +6    4
2    3     Germany    3  1  1  1   6   5  +1    4
3    4  Costa Rica    3  1  0  2   3  11  −8    3
44
   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Morocco    3  2  1  0   4   1  +3    7
1    2  Croatia    3  1  2  0   4   1  +3    5
2    3  Belgium    3  1  1  1   1   2  −1    4
3    4   Canada    3  0  0  3   2   7  −5    0
51
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    3  2  0  1   3   1  +2    6
1    2  Switzerland    3  2  0  1   4   3  +1    6
2    3     Cameroon    3  1  1  1   4   4   0    4
3    4       Serbia    3  0  1  2   5   8  −3    1
58
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [5]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(9,65,7)): # A=9, B=16, ...
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df


dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [6]:
dict_table['Group C']

   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    3  2  0  1   5   2  +3    6
1    2        Poland    3  1  1  1   2   2   0    4
2    3        Mexico    3  1  1  1   2   3  −1    4
3    4  Saudi Arabia    3  1  0  2   3   5  −2    3